<div class="header-wrapper">
   <h1>Einstellungen</h1>
</div>

<div class="body-wrapper" *ngIf="userProfile$ | async as profile">
   <div class="settings-element-wrapper personal-info">
      <div class="qr-key">
         <div class="details-wrapper">
            <span>
               <h3>
                  QR-Key
                  <button (click)="copyToClipboard()" class="change">als Text kopieren</button>
               </h3>
            </span>
            <p>Speichere ihn als Screenshot oder Text. Mit ihm kannst dich später wieder anmelden</p>
         </div>
         <app-qr-code />
      </div>
   </div>

   <div class="settings-element-wrapper">
      <span>
         <h3>Anruferinnerung</h3>
         <button class="change" (click)="changeCalltimeRimender(profile.callPrecautionTime)">ändern</button>
      </span>
      <b>{{ profile.callPrecautionTime }}</b> Minuten früher
   </div>

   <div class="settings-element-wrapper">
      <span>
         <h3>QR-Key neu generieren</h3>
         <button class="change" (click)="generateNewQrCode()">generieren</button>
      </span>
      Generiere einen Neuen QR-Key, um deinen alten unbenutzbar zu machen.
   </div>

   <div class="settings-element-wrapper">
      <span>
         <h3>Abmelden</h3>
         <button class="change" (click)="logout()">abmelden</button>
      </span>
      Nutze einen QR-Key, um ein anderes profil zu verbinden
   </div>
   <div class="settings-element-wrapper">
      <span>
         <h3>Profil löschen</h3>
         <button class="change delete" (click)="deleteAllUserData()">löschen</button>
      </span>
      Lösche alle deine Persönlichen Daten
   </div>
</div>

<app-background-picture name="undraw_settings_re_b08x.svg" />
