<div class="header-wrapper">
   <h1>Einstellungen</h1>
</div>

<div class="body-wrapper" *ngIf="userProfile$ | async as profile">
   <div class="settings-element-wrapper personal-info">
      <div class="key-wrapper">
         <app-qr-code />
      </div>
      <div class="details-wrapper">
         <h3>Dein persönlicher QR-Key</h3>
         <p>Speichere ihn als Screenshot oder Text. Mit ihm kannst dich später wieder anmelden.</p>
         <button (click)="copyToClipboard()">als Text kopieren</button>
      </div>
   </div>

   <div class="settings-element-wrapper">
      <span>
         <h3>Anruferinnerung</h3>
         <button class="change" (click)="changeCalltimeRimender(profile.callPrecautionTime)">ändern</button>
      </span>
      <p>
         <b>{{ profile.callPrecautionTime }}</b> Minuten früher.
      </p>
   </div>

   <div class="settings-element-wrapper">
      <span>
         <h3>QR-Key neu generieren</h3>
         <button class="change" (click)="generateNewQrCode()">generieren</button>
      </span>
      <p>Generiere einen Neuen QR-Key, um deinen alten unbenutzbar zu machen.</p>
   </div>

   <div class="settings-element-wrapper">
      <span>
         <h3>Benachrichtigungen</h3>
         @if(notificationsEnabled$ | async) {
         <button class="change" (click)="deactivateNotifications()">deaktivieren</button>
         } @else {
         <button class="change" (click)="activateNotifications()">aktivieren</button>
         }
      </span>
      <p>
         Nur wenn du diese Option angeschaltet hast, kannst du rechtzeitig an Anrufzeiten erinnert werden. Sie sind für dieses Gerät
         <b> {{ (notificationsEnabled$ | async) ? 'aktiviert' : 'deaktiviert' }}. </b>
      </p>
   </div>

   <div class="settings-element-wrapper">
      <span>
         <h3>Abmelden</h3>
         <button class="change" (click)="logout()">abmelden</button>
      </span>
      <p>Nutze einen QR-Key, um ein anderes profil zu verbinden</p>
   </div>
   <div class="settings-element-wrapper">
      <span>
         <h3>Profil löschen</h3>
         <button class="change delete" (click)="deleteAllUserData()">löschen</button>
      </span>
      <p>Lösche alle deine Persönlichen Daten.</p>
   </div>
</div>

<app-background-picture [isLight]="true" name="undraw_settings_re_b08x.svg" />
