@use '_index' as *;

.body-wrapper {
   padding: 0 16px 16px;

   .settings-element-wrapper {
      &:not(:last-of-type) {
         border-bottom: 1px solid $line-color-light;
         margin-bottom: 24px;
         padding-bottom: 24px;
      }

      span {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 16px;
      }

      &.personal-info {
         display: grid;
         grid-template-columns: auto;
         gap: 32px;

         h3 {
            margin-bottom: 8px;
         }

         .key-wrapper,
         .details-wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            gap: 8px;
         }

         @include big-screen {
            grid-template-columns: min-content auto;
            gap: 16px;

            .details-wrapper {
               align-items: start;
            }
         }
      }

      h3 {
         font-weight: bold;
         margin-top: 0;
      }

      p {
         margin: 0;
      }

      input[type='file'] {
         display: none;
      }

      button {
         @include buttonSmall;
         font-size: 14px;
         padding: 8px 12px;

         &.change {
            padding: 8px;
            min-width: 100px;

            &.delete {
               background-color: $accent-color-5;
               border: $accent-color-5;
               font-weight: bold;
            }
         }
      }
   }
}
