@use '_index' as *;

.main-wrapper {
   position: fixed;
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   z-index: 3;

   .bar-wrapper {
      display: flex;
      padding: 8px 16px;
      height: 64px;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;

      .link {
         font-size: $font-size-0;
         text-decoration: none;
         color: dim($accent-color-3, 'bb');
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 4px;

         .linktext {
            height: 0;
            opacity: 0;
            transition: height 0.2s, opacity 0.2s;
         }
      }

      .link.active {
         .linktext {
            height: 1em;
            opacity: 1;
         }
      }
   }
}

.spacer {
   width: 100%;
   height: 110px;
}

@include small-screen {
   .bar-wrapper {
      border-top: 1px solid $line-color;
      width: 100%;
      backdrop-filter: blur(10px);
      background-color: dim($background-color, 99);
   }
}

@include big-screen {
   .bar-wrapper {
      width: 600px;
      border: none;
      margin: 8px;
      .link {
         justify-content: center;
         align-items: center;
         width: 64px;
         height: 64px;
         border-radius: $border-radius-2;
         transition-property: box-shadow, border-color;
         transition-duration: 0.2s;
         backdrop-filter: blur(10px);
         background-color: dim($background-color, aa);
         border: 1px solid transparent;

         &:hover,
         &.active,
         &:focus {
            border: 1px solid $line-color;
            // background-color: dim($accent-color-2, ff);
            @include shadow-topdown;
         }
      }
   }
}
