$accent-color-0: #9ca3bc;
$accent-color-1: #8679a6;
$accent-color-2: #e1b09a;
$accent-color-3: #453913;
$accent-color-4: #f1d9cf;

// red for delete
$accent-color-5: #f004;

$font-color: #{$accent-color-3}CC;
$line-color: #{$accent-color-3}33;
$line-color-light: #{$accent-color-2}55;

$background-color: #cfcfc2;
