<div class="pages-wrapper" [ngSwitch]="activePage" [@flyInList]="activePage" @fadeInOut>
   <ng-container *ngSwitchCase="0">
      <div class="page-element-wrapper image">
         <img src="../../../../assets/graphics/undraw_welcoming_re_x0qo.svg" />
         <div class="overlay"></div>
      </div>
      <div class="page-element-wrapper text">
         <h1>Hallo</h1>
         <p>Diese App Hilft dir, bundesweit schnell einen Therapieplatz zu finden.</p>
      </div>
   </ng-container>

   <ng-container *ngSwitchCase="1">
      <div class="page-element-wrapper image">
         <img src="../../../../assets/graphics/undraw_road_sign_re_3kc3.svg" />
         <div class="overlay"></div>
      </div>
      <div class="page-element-wrapper text">
         <h2>Diese App Hilft dir, den Überblick zu bewahren</h2>
         <ul>
            <li>verwalte interessante Therapheut*innen</li>
            <li>lass dich erinnern, wenn du sie anrufen kannst</li>
            <li>organisiere Notizen, Anrufzeiten, Addressen und mehr</li>
         </ul>
      </div>
   </ng-container>
   <ng-container *ngSwitchCase="2">
      <div class="page-element-wrapper image">
         <img src="../../../../assets/graphics/undraw_high_five_re_jy71.svg" />
         <div class="overlay"></div>
      </div>
      <div class="page-element-wrapper text">
         <h2>Gemeinsam stark</h2>
         <p>
            Diese App basiert auf dem <b>Prinzip der Solidarität</b>, indem sie eine umfassende Therapeuten-Datenbank aus den Einträgen aller Nutzer
            erstellt.
         </p>
         <p><b>So helfen wir uns gegenseitig, schneller den passenden Therapieplatz zu finden.</b></p>
      </div>
   </ng-container>
   <ng-container *ngSwitchCase="3">
      <div class="page-element-wrapper image">
         <img class="small" src="../../../../assets/graphics/undraw_apps_re_ienc.svg" />
         <div class="overlay"></div>
      </div>
      <div class="page-element-wrapper text">
         <h2>Diese Website ist auch eine App</h2>
         <p>
            Installiere sie über das
            <b>Drei-Punkte - Menü</b> oben rechts und drücke <b>App installieren</b>.
         </p>
      </div>
   </ng-container>
   <ng-container *ngSwitchCase="4">
      <div class="page-element-wrapper image">
         <img class="share" src="../../../../assets/graphics/undraw_showing_support_re_5f2v.svg" />
         <div class="overlay"></div>
      </div>
      <div class="page-element-wrapper text">
         <h2>Datenschutz</h2>
         <p>Deine persönlichen Daten wie Notizen bleiben privat. Die Therapeut*innen - Datenbank wird nur aus nicht privaten Daten aufgebaut.</p>
         <p>
            <a routerLink="/">Zu den Datenschutzbestimmungen</a>
         </p>
      </div>
   </ng-container>
   <ng-container *ngSwitchCase="5">
      <div class="page-element-wrapper image">
         <img class="small" src="../../../../assets/graphics/undraw_walking_outside_re_56xo.svg" />
         <div class="overlay"></div>
         <div class="qr-wrapper">
            <app-qr-code [isBig]="true" />
         </div>
      </div>

      <div class="page-element-wrapper text">
         <h2>Keine komplizierte Anmeldung</h2>
         <p>Kopiere den Key als Text oder <b>Mache einen Screenshot</b>, damit du deine Daten später wieder laden kannst.</p>
      </div>
   </ng-container>
   <div class="page-element-wrapper buttons">
      <button class="back" (click)="goToLastPage()">
         <div *ngFor="let i of [0, 1, 2, 3, 4, 5]" [ngClass]="{ active: activePage === i }"></div>
      </button>

      <button class="next" *ngIf="[0, 1, 2, 3].includes(activePage)" (click)="goToNextPage()">weiter</button>

      <button class="next" *ngIf="!(hasQRKey$ | async) && activePage === 4" (click)="createQRKey()">Zustimmen</button>

      <button class="next" *ngIf="(hasQRKey$ | async) && activePage === 4" (click)="goToNextPage()">weiter</button>

      <button *ngIf="(hasQRKey$ | async) && activePage === 5" class="next active" (click)="goToNextPage()">Los gehts!</button>
   </div>
</div>
