@use '_index' as *;

.form-elements {
    gap: 16px;

    .password-checklist {
        overflow: hidden;


        p.list-item {
            margin: 8px 0;
        }

        span {
            margin-right: 8px;
        }
    }

    p {
        margin: 0;
    }

    .big {
        font-size: $font-size-1;
    }
}