<!-- step 1 set password, set eemail -->
<form [formGroup]="passwordForm" (ngSubmit)="approveStepOne()" *ngIf="currentStep === 0">
    <div class="form-elements">
        <div class="password-checklist" @expanded *ngIf="!!passwordForm.value.password">
            <p>Dein Passwort:</p>
            <p class="list-item">
                <span>{{ validationErrors.hasMinLength ? '✔' : '✘' }}</span>
                ist mindestens {{ PASSWORD_MIN_LENGTH }} Zeichen lang
            </p>
            <p class="list-item">
                <span>{{ validationErrors.hasLetter ? '✔' : '✘' }}</span>
                hat mindestens einen Buchstaben
            </p>
            <p class="list-item">
                <span>{{ validationErrors.hasNumber ? '✔' : '✘' }}</span>
                hat mindestens eine Zahl
            </p>
        </div>
        <div class="input-element-wrapper">
            <label for="password">Passwort</label>
            <input formControlName="password" id="password" type="password" placeholder="Passwort">
        </div>
        <div class="input-element-wrapper">
            <label for="email">E-Mail zum Zurücksetzen</label>
            <input formControlName="email" id="email" type="text" placeholder="E-Mail zum Zurücksetzen">
        </div>
    </div>
    <div class="confirm-buttons-wrapper">
        <button type="button" (click)="discard()">Abbrechen</button>
        <button type="submit" [disabled]="!passwordForm.valid">Bestätigen</button>
    </div>
</form>

<!-- step 2 repeat password-->
<div class="form-wrapper" *ngIf="currentStep === 1">
    <div class="form-elements">
        <p>
            Deine E-mail Adresse ist: <br><b>{{passwordForm.value.email}}</b>
        </p>
        <p>
            Wiederhole das Passwort noch einmal und du kannst loslegen.
        </p>
        <div class="input-element-wrapper">
            <label for="passwordRepeat">Passwort</label>
            <input id="passwordRepeat" type="password" (input)="setRepeatPassword($event)" placeholder="Passwort">
        </div>
    </div>
    <div class="confirm-buttons-wrapper">
        <button type="button" (click)="navigateToStepOne()">Zurück</button>
        <button type="submit" [disabled]="!repeatPassword" (click)="approveStepTwo()">Absenden</button>
    </div>
</div>