<div class="header-wrapper">
   <h1>About</h1>
</div>
<div class="body-wrapper">
   <h2>Welche Probleme lößt dieses Projekt?</h2>
   <p>THerapiesuche schwiereig, komplex und langwierig</p>
   <p>
      unterstützung für hilfesuchende ohne anhaltspunkte -> Suchprozess begleiten durch einfache erklärungen, therpeeutendatenbank, merkliste,
      Notizfunktion und anruferinnerungen
   </p>
   <p>
      Zentrale, organisch wachsende Datenbank aller therapeuten, die durch nutzung aktuell bleibt -> Keine krücke und personenaufwand für verwaltung
      der daten.
   </p>

   <h2>Open Source</h2>
   <p>Dieses Projekt kann jede Person Erweitern, der sich dazu berufen fühlt</p>

   <h2>Finanzierung</h2>
   <p>
      Zum Aktuellen Zeitpunkt werden die Kosten allein von dem Entwickler dieser App getragen. Um ein Fortbestehen zu sichern, ist diese auf Spenden
      angewiesen.
   </p>
   <p>Melde dich hier, wenn auch du finanziell unterstützen möchtest.</p>
   <h2>Für diese Unterstützung sind wir besonders dankbar</h2>

   <img src="../../../../assets/logos/walliser-datenschutz-logo.png" alt="" />
</div>
