@use '_index' as *;

.body-wrapper {
   padding: 0 16px 16px 16px;

   h3 {
      margin-top: 16px;
      font-weight: bold;
   }
   button {
      @include buttonSmall;
      margin: 8px;
      display: inline-block;
   }

   p {
      &.important {
         display: flex;
         align-items: center;

         span:first-child {
            margin-right: 10px;
            font-size: 2em;
         }
      }
   }

   app-accordion:not(:last-child) {
      border-bottom: 1px solid $line-color-light;
   }

   a.page {
      text-decoration: underline;
      font-weight: bold;
      color: $font-color;
   }

   .how-to-wrapper {
      width: 100%;
      gap: 16px;
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      padding: 16px;
      box-sizing: border-box;

      .how-to-element {
         position: relative;
         @include info-box;
         width: 150px;
         height: 150px;
         aspect-ratio: 1/1;

         .counter {
            position: absolute;
            font-size: $font-size-4;
            transform: scale(2) translate(-10px, -10px);
            font-weight: bold;
            opacity: 0.5;
         }

         .description-wrapper {
            text-align: center;
            display: flex;
            gap: 4px;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            a.contact {
               color: $font-color;
               width: 100%;
               box-sizing: border-box;
               border-radius: $border-radius-1;
            }
         }
      }
   }
}
