<div class="header-wrapper">
   <h1>Informationen</h1>
</div>
<div class="body-wrapper">
   <app-accordion>
      <div header>
         <h2>Wie man schnell einen Therapieplatz findet</h2>
      </div>
      <div content>
         <div class="how-to-wrapper">
            <div class="how-to-element">
               <div class="counter">1</div>
               <div class="description-wrapper">
                  Anamnesetermin vereinbaren
                  <a class="contact" href="tel:0049116117">per Telefon</a>
                  <a class="contact" href="https://www.eterminservice.de/" target="_blank">per Web</a>
                  <a class="contact" href="https://116117.app/" target="_blank">per App</a>
               </div>
            </div>
            <div class="how-to-element">
               <div class="counter">2</div>
               <div class="description-wrapper">Empfehlungen für Therapeut*Innen erhalten</div>
            </div>

            <div class="how-to-element">
               <div class="counter">3</div>
               <div class="description-wrapper">
                  Therapeut*in unter
                  <a class="page" routerLink="/find">Finden</a> eintragen und Nummern ergänzen
               </div>
            </div>
            <div class="how-to-element">
               <div class="counter">4</div>
               <div class="description-wrapper">Therapeut*in anrufen und Sprechzeiten ergänzen</div>
            </div>

            <div class="how-to-element">
               <div class="counter">5</div>
               <div class="description-wrapper">Anrufzeiten markieren, um dich an Sprechzeiten erinnern zu lassen.</div>
            </div>

            <div class="how-to-element">
               <div class="counter">6</div>
               <div class="description-wrapper">Zur Sprechzeit anrufen und Termin verinbaren</div>
            </div>
         </div>
         <p>
            Bevor du eine Therapie beginnen kannst, musst du einen
            <b>Anamnesetermin</b> bei einer Therapeut*in wahrgenommen haben. Hierbei erörtert ihr gemeinsam, <b>welche Art der Therapie</b> dir am
            besten helfen kann. Im Bestfall werden dir hier sogar schon einige Adressen gegeben.
         </p>
         <p class="important">
            <span>!</span>
            <span><b>Wiederhole Schritt 3 bis 6 für so viele Therapeut*Innen wie möglich.</b></span>
         </p>
         <p>
            Wahrschienlich haben nur wenige davon Zeit, neue Patienten aufzunehmen. Durch mehrgleisige Kommunikation erhöst du die Chance erheblich,
            schnell einen Platz zu finden. Zusätzlich hast du so eine Auswahl und kannst dich für die Person entschieden, bei der du dich am wohlsten
            fühlst.
         </p>
         <p>
            Um Versicherung und Kostenübernahme musst du dir vorerst keine Gedanken machen. Die Therapeut*Innen übernehmen die Kommunikation mit
            deiner Krankenkasse für dich. Ob sie Kassenpatienten aufnehmen, kannst du einfach erfragen.
         </p>
      </div>
   </app-accordion>
   <app-accordion>
      <div header>
         <h2>Wie ziehe ich das Meiste aus meiner Therapie?</h2>
      </div>
      <div content>
         <p>
            Mache dir Gedanken, welche <b>Thematiken</b>, du mit deiner Therapie bearbeiten möchtest. Solche Thematiken können zum Beispiel sein
            "Depressive phasen überwinden", "Ängste in den Griff bekommen", oder "Situation XY bearbeiten"
         </p>
         <p>
            Ausserdem kannst du <b>Erkenntnisse</b> aus Therapiestunden in ein Tagebuch <b>notieren</b>, die du nicht vergessen oder genau beobachten
            willst.
         </p>
      </div>
   </app-accordion>
   <app-accordion>
      <div header>
         <h2>Wie man Benachrichtigungen aktiviert</h2>
      </div>
      <div content>
         @if(notificationsEnabled$ | async) {
         <p><b>Benachrichtigungen sind Bereits aktiviert.</b></p>
         } @else {
         <p>Klicke einfach hier: <button (click)="verifySubscriptionExists()">Benachrichtigungen aktivieren</button></p>
         }
         <p>Wenn du sie aus Versehen deaktiviert hast, Navigiere zu den Einstellungen deines Browsers // TODO: fertig erklären</p>
      </div>
   </app-accordion>
   <app-accordion>
      <div header>
         <h2>Wie man die App installiert</h2>
      </div>
      <div content>
         <p>
            <b> Auf Chrome, Edge und Samsung Internet</b>
            musst du die das drei Punkte Menü öffnen und dann die Option 'App installieren' asuwählen
         </p>
         <p>
            <b>Auf Safari</b> musst du das Teilensymbol (das Viereck mit dem Pfeil nach oben) berühren und dann die Option 'Zum Home Bildschirm'
            auswählen
         </p>
      </div>
   </app-accordion>
   <app-accordion>
      <div header>
         <h2>Was ist der QR-Key?</h2>
      </div>
      <div content>
         <p>Der QR-Key ist der Schlüssel zu den von dir eingegebenen Daten.</p>
         <p>Mit diesem Schlüssel kannst du deine Daten auch auf anderen Geräten einsehen. Speichere ihn dir also am besten ab.</p>
         <p>Du findest ihn <a class="page" routerLink="/settings">hier</a></p>
      </div>
   </app-accordion>
   <app-accordion>
      <div header>
         <h2>Ich brauche jetzt Hilfe</h2>
      </div>
      <div content>
         <p>Die folgenden Nummern sind alle kostenfrei.</p>
         <p>
            <b>Bundesweite Terminservicestelle <br /></b>
            Telefon: <a href="tel:49116117">116117</a>
         </p>
         <p>
            <b>Bundesweite Telefonseelsorge</b><br />
            Telefon: <a href="tel:+4908001110111">+49 (0)800 111 0 111</a><br />
            Telefon, alternativ:
            <a href="tel:+4908001110111">+49 (0)800 111 0 222</a>
         </p>
      </div>
   </app-accordion>
   <app-accordion>
      <div header>
         <h2>Ich will mich an diesem Projekt beteiligen</h2>
      </div>
      <div content>
         <h3>Stell einen Pull Request!</h3>
         <p>Du willst das Projekt um Funktionen erweitern? Dir fallen weitere sinvolle hilfestellungen für Therapiesuchende ein?</p>
         <h3>Spende, damit dieses Projekt länger lebt</h3>
         <p>Dieses Projekt ist bei XXX gehostet. Es kostet ungefähr XXX Euro pro Monat, dieses Projekt bereitzustellen.</p>
      </div>
   </app-accordion>
</div>
<app-background-picture [isLight]="true" name="undraw_notify_re_65on.svg" />
