@use '_index' as *;

.header-wrapper {
   padding: 40px 16px 36px 16px;

   h1 {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 16px;

      .sub {
         width: 100%;
         font-size: $font-size-2;
      }
   }
}
.body-wrapper {
   padding: 0 16px 16px 16px;
}

@include small-screen {
   .search-buttons {
      flex-direction: column;
      margin: 32px 16px;

      &.something-set button {
         padding: 4px 8px;
         font-size: $font-size-1;
      }
   }
}

@include big-screen {
   .search-buttons {
      flex-direction: row;
      margin: 16px;
   }
}
.search-buttons {
   gap: 8px;
   display: flex;
   justify-content: center;

   &.something-set {
      justify-content: start;
      flex-direction: row;
      overflow-x: scroll;
      margin: 0;
      padding: 0 16px 8px 16px;
      button {
         animation: none;
      }
   }

   button {
      @include resetButton;
      @include shimmer-animation;
      border: 1px solid $accent-color-1;
      border-radius: $border-radius-2;
      padding: 8px 32px;
      white-space: nowrap;

      &:nth-child(2) {
         animation-delay: 1s;
      }

      &:nth-child(3) {
         animation-delay: 2s;
      }
   }
}

p {
   margin-bottom: 0;
}

.placeholder-wrapper {
   display: flex;
   justify-content: center;

   .placeholder-no-results {
      p {
         margin: 0 0 16px 0;
      }
      @include info-box;
      button {
         @include resetButton;
         padding: 8px 32px;
         border: 1px solid $accent-color-1;
         border-radius: $border-radius-2;
         width: 100%;
      }
   }
}
