<div class="header-wrapper">
   <h1>
      <span class="main">Suche @if(getCityFilterAsProse() || getTypesFilterAsProse()){ nach Therapeut*innen} {{ getCityFilterAsProse() }}</span>
      <span class="sub" *ngIf="getTypesFilterAsProse()">{{ getTypesFilterAsProse() }}</span>
   </h1>
</div>

@if (allFiltersEmpty) {
<app-page-placeholder-text>
   <ng-container header>Durchsuche die Datenbank </ng-container>
   <ng-container body>
      <div class="placeholder-text">
         <p>Finde hier Therapeut*innen und speichere sie über den Plus-Button ab.</p>
         <p>
            Gib deine Stadt, Postletzahl oder die Art der Therapie an, die du suchst. Findest du hier nichts, kannst die hier und hier suchen.
            Übertrage deinen Fund dann in diese App und lass dich erinnern, sobald du anrufen kannst.
         </p>
      </div>
   </ng-container>
</app-page-placeholder-text>
}

<div class="search-buttons" [class.something-set]="!allFiltersEmpty">
   <button (click)="addFilterCity()">{{ city ? 'Stadt ändern' : 'Stadt angeben' }}</button>
   <button (click)="addFilterPostal()">{{ postalCode ? 'Postleitzahl ändern' : 'Postleitzahl angeben' }}</button>
   <button (click)="addFilterType()">{{ types?.length > 0 ? 'Therapierarten ändern' : 'Therapierarten angeben' }}</button>
   <button (click)="resetFilters()" *ngIf="!allFiltersEmpty">Filter zurücksetzen</button>
</div>

@if(!allFiltersEmpty) {
<div class="body-wrapper">
   <div class="search-wrapper">
      @if(results && results.length > 1) {
      <app-search-results [therapists]="results" />
      } @else {
      <div class="no-results">Keine Treffer für deine Suchkriterien.</div>
      }
   </div>
   <div class="placeholder-wrapper">
      <div class="note">
         <h3>Du findest die Person hier nicht?</h3>
         <button (click)="addTherapist()">Lege sie einfach selber an</button>
      </div>
      <div class="note">
         <h3>Daten fehlen oder sind fehlerhaft?</h3>
         <p>
            Da die Datenbank organisch wächst, können Einträge potentiell unvollständig oder fehlerhaft sein. Importieren sie trotzdem und bessere sie
            nach oder ergänze sie.
         </p>
      </div>
   </div>
</div>
}
