@use '_index' as *;


button {
    @include resetButton;
}

.suggestion-wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 8px 0 8px;

    .suggestions-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px solid $line-color;

        .text {
            font-weight: bold;
        }
    }

    .placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        opacity: .7;
    }

    .suggestion-elements {
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: 100px;
        overflow: auto;

        transition: height .3s;


        &.expanded {
            height: 300px;
        }

        .suggestion {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr 1fr;
            text-align: left;
            gap: 4px;

            &:first-of-type {
                margin-top: 8px;
            }

            &:not(:last-of-type) {
                border-bottom: 1px solid dim($accent-color-3, 10);
                padding-bottom: 8px;
            }

            .name {
                @include ellipsis-overflow;
                font-weight: bold;
                font-size: $font-size-1;
            }

            .city {
                grid-column: 1 / 1;
                grid-row: 2 / 2;

            }

            .select {
                margin: 0 16px;
                font-weight: bold;
                font-size: $font-size-2;
                align-self: center;
                grid-column: 2 / 2;
                grid-row: 1 / 3;

            }
        }
    }
}