@use 'colors' as *;

:host {
   overflow: hidden;
   display: block;
   padding: 16px 0;
}

.accordion-header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   text-align: left;
   background-color: #0000;
   border: none;
   font-size: inherit;
   padding: 0;
   gap: 16px;

   .header-text {
      margin: 16px 0;
   }

   .arrow {
      transition: transform 0.3s;

      svg {
         fill: $font-color;
      }

      &.expanded {
         transform: rotate(180deg);
      }
   }
}

.content-wrapper {
   overflow: hidden;
}
