@use 'mixins_and_functions' as *;

.page-header-wrapper {
   padding: 40px 16px 36px 16px;
}

.body-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: start;

   @include small-screen {
      grid-template-columns: 1fr;
   }

   gap: 16px;
   margin: 16px;
}

ul {
   margin-bottom: 0;
}
