@use '_index' as *;

:host {
   display: block;
}

.main-wrapper {
   border-radius: $border-radius-3;
   background-color: dim($accent-color-2, bb);
   border: 1px solid $accent-color-2;
   height: 100%;
   overflow: hidden;
   display: flex;

   .left-side {
      flex: 1;
      cursor: pointer;
      min-width: 0;

      .header {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         color: $accent-color-1;
         font-size: $font-size-0;

         .date {
            padding: 16px 16px 8px;
         }
      }

      .body {
         padding: 4px 16px 16px;
         color: $accent-color-3;
         @include ellipsis-overflow;
      }
   }
}

button.remember-button {
   color: $accent-color-1;
   line-height: $font-size-0;
   background-color: transparent;
   cursor: pointer;
   border: none;
   border-left: 1px solid dim($accent-color-1, 77);
   font-size: $font-size-0;

   font-weight: bold;
   padding: 16px;

   &.reminder-set {
      background-color: dim($accent-color-1, aa);
      color: $accent-color-2;
   }
}
