<div class="header-wrapper">
   <div class="text">
      <h1>Informationen</h1>
   </div>

   <a routerLink="/settings">
      <svg
         xmlns="http://www.w3.org/2000/svg"
         viewBox="-2 -2 24 24"
         width="24"
         fill="currentColor"
      >
         <path
            d="M20 8.163A2.106 2.106 0 0 0 18.926 10c0 .789.433 1.476 1.074 1.837l-.717 2.406a2.105 2.105 0 0 0-2.218 3.058l-2.062 1.602A2.104 2.104 0 0 0 11.633 20l-3.29-.008a2.104 2.104 0 0 0-3.362-1.094l-2.06-1.615A2.105 2.105 0 0 0 .715 14.24L0 11.825A2.106 2.106 0 0 0 1.051 10C1.051 9.22.63 8.54 0 8.175L.715 5.76a2.105 2.105 0 0 0 2.207-3.043L4.98 1.102A2.104 2.104 0 0 0 8.342.008L11.634 0a2.104 2.104 0 0 0 3.37 1.097l2.06 1.603a2.105 2.105 0 0 0 2.218 3.058L20 8.162zM14.823 3.68c0-.063.002-.125.005-.188l-.08-.062a4.103 4.103 0 0 1-4.308-1.428l-.904.002a4.1 4.1 0 0 1-4.29 1.43l-.095.076A4.108 4.108 0 0 1 2.279 7.6a4.1 4.1 0 0 1 .772 2.399c0 .882-.28 1.715-.772 2.4a4.108 4.108 0 0 1 2.872 4.09l.096.075a4.104 4.104 0 0 1 4.289 1.43l.904.002a4.1 4.1 0 0 1 4.307-1.428l.08-.062A4.108 4.108 0 0 1 17.7 12.4a4.102 4.102 0 0 1-.773-2.4c0-.882.281-1.716.773-2.4a4.108 4.108 0 0 1-2.876-3.919zM10 14a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"
         ></path>
      </svg>
   </a>
</div>
<div class="body-wrapper">
   <app-accordion>
      <div header>
         <h2>Wie man schnell einen Therapieplatz findet</h2>
      </div>
      <div content>
         <div class="how-to-wrapper">
            <div class="how-to-element">
               <div class="counter">1</div>
               <div class="description-wrapper">
                  Anamnesetermin vereinbaren
                  <a class="contact" href="tel:0049116117">per Telefon</a>
                  <a
                     class="contact"
                     href="https://www.eterminservice.de/"
                     target="_blank"
                     >per Web</a
                  >
                  <a class="contact" href="https://116117.app/" target="_blank"
                     >per App</a
                  >
               </div>
            </div>
            <div class="how-to-element">
               <div class="counter">2</div>
               <div class="description-wrapper">
                  Empfehlungen für Therapeut*Innen erhalten
               </div>
            </div>

            <div class="how-to-element">
               <div class="counter">3</div>
               <div class="description-wrapper">
                  Therapeuth*in unter
                  <a class="page" routerLink="/find">Finden</a> eintragen und
                  Nummern ergänzen
               </div>
            </div>
            <div class="how-to-element">
               <div class="counter">4</div>
               <div class="description-wrapper">
                  Therapeut*in anrufen und Sprechzeiten ergänzen
               </div>
            </div>

            <div class="how-to-element">
               <div class="counter">5</div>
               <div class="description-wrapper">
                  Anrufzeiten markieren, um dich an Sprechzeiten erinnern zu
                  lassen.
               </div>
            </div>

            <div class="how-to-element">
               <div class="counter">6</div>
               <div class="description-wrapper">
                  Zur Sprechzeit anrufen und Termin verinbaren
               </div>
            </div>
         </div>
         <p>
            Bevor du eine Therapie beginnen kannst, musst du einen
            <b>Anamnesetermin</b> bei einer Therapeuth*in wahrgenommen haben.
            Hierbei erörtert ihr gemeinsam, <b>welche Art der Therapie</b> dir
            am besten helfen kann. Im Bestfall werden dir hier sogar schon
            einige Adressen gegeben.
         </p>
         <p class="important">
            <span>!</span>
            <span
               ><b
                  >Wiederhole Schritt 3 bis 6 für so viele Therapeut*Innen wie
                  möglich.</b
               ></span
            >
         </p>
         <p>
            Wahrschienlich haben nur wenige davon Zeit, neue Patienten
            aufzunehmen. Durch mehrgleisige Kommunikation erhöst du die Chance
            erheblich, schnell einen Platz zu finden. Zusätzlich hast du so eine
            Auswahl und kannst dich für die Person entschieden, bei der du dich
            am wohlsten fühlst.
         </p>
         <p>
            Um Versicherung und Kostenübernahme musst du dir vorerst keine
            Gedanken machen. Die Therapeut*Innen übernehmen die Kommunikation
            mit deiner Krankenkasse für dich. Ob sie Kassenpatienten aufnehmen,
            kannst du einfach erfragen.
         </p>
      </div>
   </app-accordion>
   <app-accordion>
      <div header>
         <h2>Wie diese App deine Therapie begleitet</h2>
      </div>
      <div content>
         <p>
            Nutze den Tab <a class="page" routerLink="/therapy">Therapie</a>, um
            <b>Thematiken festzuhalten</b>, die du in deinerTherapie bearbeiten
            willst. Solche Thematiken können zum Beispiel sein "Depressive
            phasen überwinden", "Ängste in den Griff bekommen", "Besser Stress
            aushalten" oder "Zwangsgedanken erforschen"
         </p>
         <p>
            Ausserdem kannst du <b>Erkenntnisse</b> aus Therapiestunden
            <b>notieren</b>, die du nicht vergessen oder genau beobachten
            willst.
         </p>
         <p>
            Besonders wichtige Notizen kannst du per Merken-Knopf markieren und
            dann gesammelt im Tab
            <a class="page" routerLink="/remember">Merken</a> einsehen
         </p>
      </div>
   </app-accordion>
   <app-accordion>
      <div header>
         <h2>Wie man diese App installiert</h2>
      </div>
      <div content>
         <p>
            Manche Browser ermöglichen dir die Installation dieser Webapp.
            Hierzu klickst du einfach auf das entsprechend Symbol in der
            Adressleiste.
         </p>
      </div>
   </app-accordion>
   <app-accordion>
      <div header>
         <h2>Was ist der QR-Key?</h2>
      </div>
      <div content>
         <p>Der QR-Key ist der Schlüssel zu den von dir eingegebenen Daten.</p>
         <p>
            Mit diesem Schlüssel kannst du deine Daten auch auf anderen Geräten
            einsehen oder auf diesem wiederherstellen. Speichere ihn dir also am
            besten ab.
         </p>
         <p>
            Wenn du diese Seite auch als Begleitung für deine Therapie nutzen
            willst, musst du ein Passwort festlegen. So sind persönlichere Daten
            von dir besser geschützt.
         </p>
         <p>Du findest ihn <a class="page" routerLink="/settings">hier</a></p>
      </div>
   </app-accordion>
   <app-accordion>
      <div header>
         <h2>Ich brauche jetzt Hilfe</h2>
      </div>
      <div content>
         <p>Die folgenden Nummern sind alle kostenfrei.</p>
         <p>
            <b>Bundesweite Terminservicestelle <br /></b>
            Telefon: <a href="tel:49116117">116117</a>
         </p>
         <p>
            <b>Bundesweite Telefonseelsorge</b><br />
            Telefon: <a href="tel:+4908001110111">+49 (0)800 111 0 111</a><br />
            Telefon, alternativ:
            <a href="tel:+4908001110111">+49 (0)800 111 0 222</a>
         </p>
      </div>
   </app-accordion>
</div>
