@use '_index' as *;

.wrapper {
   @include resetButton;
   width: 100%;
   display: flex;
   gap: 16px;
   padding: 16px;
   flex-direction: column;
   border-radius: $border-radius-3;
   border: 1px solid $accent-color-2;
   background-color: dim($accent-color-2, 44);
}

.header-wrapper {
   display: inline-flex;
   align-items: center;
   width: 100%;

   h2 {
      display: flex;
      align-items: flex-end;
      flex-wrap: nowrap;
      gap: 4px;

      > :first-child {
         font-weight: bold;
         font-size: $font-size-1;
      }

      > :nth-child(2) {
         font-size: 16px;
         font-weight: lighter;
      }
   }

   button {
      margin-left: auto;
      pointer-events: fill;
      color: $accent-color-1;
      background-color: transparent;
      cursor: pointer;
      border: 1px solid dim($accent-color-1, 77);
      border-width: 0 0 1px 1px;
      font-size: $font-size-0;

      font-weight: bold;
      padding: 8px;
      border-radius: 0 0 0 $border-radius-1;
      z-index: 10;
   }
}

.body {
   @include resetButton;
   height: 100%;
   cursor: pointer;
   white-space: pre-wrap;
   text-align: left;
}
