<div class="main-wrapper">
   <div class="left-side" (click)="editNote()">
      <div class="header">
         <div *ngIf="!noteHeader" class="date">
            {{ noteFromInput?.createdAt | date : 'dd.MM.yy' }}
         </div>
         <div *ngIf="noteHeader" class="date">
            <b>{{ noteHeader }}</b>
            {{ noteFromInput?.createdAt | date : 'dd.MM.yy' }}
         </div>
      </div>
      <div class="body">{{ noteBody }}</div>
   </div>
   <button
      class="remember-button"
      (click)="toggleReminder()"
      [ngClass]="{ 'reminder-set': noteFromInput?.isImportant }"
   >
      wichtig
   </button>
</div>
